{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}

    <div class="container"
         style="height: 90vh">
        <div style="position: absolute; top: 30%">
            <h1>Veronika Vysokozerskaia</h1>
            <br>
            <p1>Hi! I'm a developer.</p1>
            <br><br>
            <h3>Skills</h3>
            <p>HTML / CSS /JavaScript / three.js / jQuery / Adobe PS / Python / Flask / PostgreSQL / MySQL</p>
            <br>
            <h3>Contact</h3>
            <p>blabla@email.com</p>
        </div>
    </div>

{% endblock %}
